.App {
  text-align: center;
  padding: 20px;
}

.product-slider-container {
  max-width: 80%;
  margin: 0 auto;
}

.slick-prev {
  left: -50px;
}
.slick-next {
  right: -50px;
}
.slider-header {
  font-size: 2.5rem;
  padding: 1rem 0;
}
.slick-next:focus,
.slick-prev:focus {
  background-color: rgb(26, 25, 25);
}
.slick-next:hover,
.slick-prev:hover {
  background-color: rgb(26, 25, 25);
  color: #ffffff;
}
.slick-arrow {
  background-color: rgb(26, 25, 25);
  color: transparent;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
